.header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #445161;
  height: auto;
  font-family: Arial serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  padding: 20px;
}
.header-heading {
  font-size: 60px;
  line-height: 69px;
  padding-bottom: 20px;
}
.img {
  width: 472px;
  height: 217px;
  background-color: white;

}
.container {
  display: flex;
}
